################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Presentacion/obj/Release
/Dominio/obj/Release/Dominio.csproj.CoreCompileInputs.cache
/Negocio/obj/Release/Negocio.csproj.CoreCompileInputs.cache
